Source: binutils-arm-none-eabi
Section: devel
Priority: extra
Maintainer: Anthony Towns <ajt@debian.org>
Standards-Version: 3.0.1.1
Build-Depends: autoconf (>= 2.13), bison, flex, gettext, texinfo, binutils (>= 2.9.5.0.12), gcc (>= 2.95.2), debhelper (>= 5), tar (>= 1.13.18), bzip2, findutils(>=4.2.31), binutils-source (>= 2.22)

Package: binutils-arm-none-eabi
Section: devel
Architecture: any
Priority: extra
Depends: ${shlibs:Depends} 
Suggests: binutils (>= ${Source-Version}), gcc-arm-none-eabi
Description: Binary utilities supporting non-Linux ARM targets
 The programs in this package are used to manipulate binary and object
 files that may have been created for the ARM architecture.  This package
 is primarily for ARM developers and cross-compilers and is not needed
 by normal users or developers.
